body {
    margin: 0;
    padding: 0;
 }
a img {
    border: none;
    outline: none;
}
@font-face {
    font-family: Verdana;
    src: url("fonts/Verdana.ttf");
}
.clr {
    clear: both;
}
.header {
	width: 1257px;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	margin-top: 10px;
	margin-left: 35px;
	width: 386px;
	height: 120px;
	float: left;
} 
.top-menu {
	font-size: 20px;
	font-family: Verdana;
	float: right;
	padding: 50px 10px 0;
	margin-bottom: 20px;
}
.top-menu ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.top-menu ul li {
	list-style-type: none;
	float: left;
}
.top-menu li a {
    display: inline-block;
    color: #414042;
    padding: 9px 15px 9px 15px;
    text-decoration: none;
}
.top-menu li a:hover  {
	color: #ffffff;
	background-color: #414042;
}
.telephone {
	width: 252px;
	height: 28px;
	margin-left: 45px; 
	margin-top: 20px;
	padding-left: 24px;
	font-size: 19px;
	font-family: Verdana;
	font-weight: bold;
	color: #414042;
	float: left;
	clear: both;
	background: url("../images/telephone.png") no-repeat;
}
.search {
	margin-top: -45px;
	margin-right: 25px;
	width: 273px;
	height: 46px;
	float: right;
	clear: both;
	background: url("../images/search.png");
}
.search input {
	border: none;
	margin-top: 14px;
	margin-left: 36px;
	outline: none;
	background: transparent;
}
.banner {
	margin-top: 193px;
	width: 1257px;
	height: 566px;
	background: url("../images/banner.jpg") no-repeat;
	position: relative;
}
.link {
	top: 415px;
	left: 90px;
	position: absolute;
	font-size: 24px;
	font-family: Verdana;
	color: #ffffff;
}
.link a {
	color: #ffffff;
}
.page {
	width: 1257px;
	margin: 0 auto;
	overflow: hidden;
}
.content {
	width: 1257px;
	height: 640px;
	margin-left: 45px;
}
.picture1 {
	float: left;
	margin-right: 35px;
}
.picture2 {
	float: left;
}
.picture3 {
	float: right;
	margin-right: 70px;
}
.name {
	border-top: 7px solid #2c86ee;
    background: #d9dde0;
    height: 103px;
    width: 373px;
    font-size: 20px;
    font-family: Verdana;
    color: #414042;
}
.name p {
	margin-left: 20px;
	margin-top: 13px;
}
.image {
	height: 286px;
    width: 373px;
    margin-top: 20px;
}
.text {
	height: 156px;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
    font-family: Verdana;
    color: #414042;
}
.category-link {
	font-size: 20px;
    font-family: Verdana;
    display: block;
    width: 230px;
    height: 51px;
    line-height: 51px;
    margin-left: 15px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background: #2c86ee;
}
.news {
	float: left;
	width: 373px;
    height: 617px;
    margin-top: 43px;
    margin-left: 45px;
    font-size: 20px;
    font-family: Verdana;
    color: #2c86ee;
}
.news h4 {
	font-weight: normal;
}
.date {
	margin-top: 20px;
	color: #3e3e3e;
}
.readmore {
	color: #2c86ee;
	font-family: Verdana;
	font-style: italic;
	font-size: 16px;
}
.newsflash-title {
	margin: 0;
}
.moduletable p {
	color: #3e3e3e;
	font-size: 29px;
	font-weight: bold;
	margin-top: 15px;
}
.article {
	float: right;
	margin-top: 40px;
	margin-right: 35px;
	width: 778px;
    height: 617px;
    font-size: 20px;
    font-family: Verdana;
    background: #e4e9ec;
    position: relative;
}
.text-article {
	padding: 0 67px 53px 36px;
	float: left;
	color: #414042;
}
.image-article {
	margin: 18px -15px 0 10px;
	float: right;
	width: 319px;
	height: 330px;
}
.link1-article {
	top: 554px;
	left: 441px;
	font-size: 20px;
	font-family: Verdana;
	position: absolute;
}
.link1-article a {
	color: #2c86ee;
}
.link2-article {
	top: 579px;
	left: 462px;
	font-size: 20px;
	font-family: Verdana;
	position: absolute;
}
.link2-article a {
	color: #2c86ee;
}
.footer {
	width: 1257px;
	height: 150px;
	margin-top: 22px;
	margin-left: 45px;
	overflow: hidden;
	font-size: 20px;
	font-family: Verdana;
	color: #ffffff;
	background: #414042;
}
.footer-content1 {
	float: left;
	height: 160px;
	width: 444px;
	margin-top: -10px;
	border-right: 2px solid #3b5574;
}
.footer-content1 h4 {
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: -5px;
	margin-left: 42px;
}
.footer-content1 p {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 5px;
	margin-left: 42px;
}
.mail input {
	height: 26px;
	margin-left: 42px;
}
.checkbox input {
	margin-top: 10px;
	height: 22px;
	width: 22px;
	margin-left: 42px;
}
.footer-content2 {
	float: left;
	height: 160px;
	width: 365px;
	margin-top: -10px;
	border-right: 2px solid #3b5574;
}
.footer-content2 h4 {
	text-transform: uppercase;
	font-weight: normal;
	margin-left: 80px;
	margin-bottom: -10px;
}
.footer-content2 p {
	font-size: 20px;
	font-weight: bold;
	margin-left: 58px;
}
.footer-content3 {
	float: right;
	height: 160px;
	width: 444px;
	margin-top: -10px;
}
.footer-content3 h4 {
	text-transform: uppercase;
	font-weight: normal;
	margin-left: 120px;
	margin-bottom: 10px;
}
.footer-content3 a {
	margin-left: 38px;
	color: #ffffff;
	font-weight: normal;
}